.assort {
    height: 100vh;
    width: 100%;
    padding: $spacebig 0;
    box-sizing: border-box;

    &-product-types {
        //grid-area: 1 / 1 / 2 / 13;
        display: flex;
        align-items: stretch;
        justify-content: center;
        flex-wrap: wrap;

    }

    &-title {
        //grid-area: 6 / 2 / 11 / 12;
        display: flex;
        flex-direction: column;
        justify-content: center;

        & > .title-bold {
            margin-left: 302px;
        }

        & .script::after {
            content: '';
            display: inline-block;
            margin-bottom: 9px;
            margin-left: 20px;
            height: 2px;
            width: 54px;
            background-color: black;
            position: relative;
        }

    }

    & .slider-big {
        padding-top: $spacebig;

        & .slick-arrow {
            z-index: 5;
            width: 195px;
            height: 100%;
            &:before {
                content: '';
            }
        }

        & .example {
            height: calc(100vh - 160px - 80px - 120px);
            margin: 0 $spacemid-mob;
            display: flex;
            border: 1px solid black;

            &-picture {
                margin: 30px 30px 0;
                min-width: 50%;
                max-width: 960px;
                height: calc(100% - 30px);
                box-sizing: border-box;

                & .slick-prev {
                    width: 72px;
                    top: calc(50% - 15px);
                    height: calc(100% - 30px);
                    left: 0;
                }

                & .slick-next {
                    z-index: 5;
                    width: calc(100% - 72px);
                    height: calc(100% - 30px);
                    top: calc(50% - 15px);
                    right: 0;
                }
            }
    
            & img {
                object-fit: cover;
                width: 100%;
                height: calc(100% - 30px);
                margin: auto;
            }

            &-content {
                margin: 30px 30px 30px 0;
                display: flex;
                flex-direction: column;
                min-width: 220px;

                & .text-big {
                    font-size: 32px;
                    margin-bottom: 30px;
                    line-height: 32px;
                    margin-top: 50px;
                }
            }

            &-brand {
                margin-bottom: 15px;
            }

            &-bottom {
                display: flex;
                align-self: stretch;
                margin-top: auto;
                padding-top: 10px;
                align-items: center;
                justify-content: space-between;
                border-top: 1px solid black;
            }

            &-price {
                font-size: 48px;
                font-family: 'Futura PT', sans-serif;
                font-weight: 600;
            }

        }

    }

    

    &-image {
        background-image: url(./Assets/images/5100vanillanoir.jpg);
        background-size: cover;
        grid-area: 11 / 4 / 16 / 13;
    }

    &-brlist {
        grid-area: 17 / 1 / 21 / 13;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: space-between;
    }

    &-brand {
        margin-bottom: 0;
        height: 50%;
        width: 25%;
    }
}

@mixin brandimg {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.vicostone {
    @include brandimg;
    background-image: url(./Assets/images/brands/VICOSTONE.jpg);
}

.avant {
    @include brandimg;
    background-image: url(./Assets/images/brands/AVANT.jpg);
}

.belenco {
    @include brandimg;
    background-image: url(./Assets/images/brands/BELENCO.jpg);
}

.reston {
    @include brandimg;
    background-image: url(./Assets/images/brands/RESTON.jpg);
}

.atem {
    @include brandimg;
    background-image: url(./Assets/images/brands/ATEM.jpg);
}

.caesarstone {
    @include brandimg;
    background-image: url(./Assets/images/brands/CAESARSTONE.jpg);
}

.hanstone {
    @include brandimg;
    background-image: url(./Assets/images/brands/HANSTONE.jpg);
}

.silestone {
    @include brandimg;
    background-image: url(./Assets/images/brands/SILESTONE.jpg);
}

.product {
    text-transform: lowercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: transparent;
    border: 0;
    outline: 0;
}

@mixin brandimg {
    content: "";
    width: 198px;
    height: 102px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.countertops::before {
        @include brandimg;
        background-image: url(./Assets/images/product-types/countertops.svg);
    }

.bartops::before{
        @include brandimg;
        background-image: url(./Assets/images/product-types/bartops.svg);
    }
    
.backsplashes::before {
        @include brandimg;
        background-image: url(./Assets/images/product-types/backsplashes.svg);
    }
    
.washbasins::before {
        @include brandimg;
        background-image: url(./Assets/images/product-types/washbasins.svg);
    }
    
.windowsills::before {
        @include brandimg;
        background-image: url(./Assets/images/product-types/windowsills.svg);
    }

@media only screen and (max-width: 1078px) {

    .assort {
        &-title {    
            & > .title-bold {
                margin-left: 302px;
            }
        }
    }

}


@media only screen and (max-width: 768px) {
        .assort {
        margin: $spacebig-mob 0;
        padding: 0;
        display: block;
        height: auto;

        & .slider-big {
            padding-top: $spacebig-mob;

            & .slick-arrow {
                z-index: 5;
                width: 55px;
                height: 100%;
                &:before {
                    content: '';
                }
            }

            & .example {
                margin: 0 10px;
                height: calc(100vh - 160px);
                flex-direction: column;
        
                & .example-content {
                    margin: 0 15px 15px 15px;
        
                    & .text-big {
                        font-size: 19px;
                        line-height: 19px;
                        margin: 0 0 10px 0;
                    }
        
                }
    
                & .example-brand {
                    margin-bottom: 10px
                }
    
                & .example-bottom {
                    padding-top: 5px;
                    margin: 10px 0 0;
                }
    
                & .example-price {
                    font-size: 36px;
                }
    
                & .example-picture {
                    margin: 10px;
                }
            }
        }

        &-product-types {
            padding: 0;
            align-items: center;
        }

        & > :last-child {
            margin-bottom: 0;
        }

        &-title {
            display: block;
            max-width: 300px;
    
            & > .title-bold {
                margin-left: 70px;
            }
    
            & .script::after {
                content: '';
                display: inline-block;
                margin-bottom: 5px;
                margin-left: 10px;
                height: 2px;
                width: 30px;
                background-color: black;
                position: relative;
            }
        }

        &-image {
            height: 20vh;
        }

        &-brand {
            height: calc((50vh / 4);
            width: 50%;
            margin-bottom: 0;
        }
    }

    .product {
        width: 50%;
        background-size: cover;

        &:last-child {
            margin-top: 0;
        }

        &:not(:last-child) {
            margin-bottom: $spacebig-mob;
        }
    }

    @mixin brandimg-mob {
        width: 50vw;
        height: 80px;
    }

    .countertops::before {
        @include brandimg-mob;
    }

.bartops::before{
    @include brandimg-mob;
    }
    
.backsplashes::before {
    @include brandimg-mob;
    }
    
.washbasins::before {
    @include brandimg-mob;
    }
    
.windowsills::before {
    @include brandimg-mob;
    }
}