@media only (max-width: 1078px) {
  
  .colorselect {
    width: 100%;
    height: auto;
    position: static;
    margin-top: $spacebig-mob;
  }

  .tabs {
    margin-bottom: 15px;
  }

  .filter {
    &-card {
      padding: 0 5px;
      border-bottom: 1px solid black;
      margin-bottom: 10px;

      &-title {
        width: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        border: 0;
        height: 44px;
        padding: 0;

        &:after {
          content: "";
          background-image: url(./images/icons/plus.svg);
          background-position: center;
          background-repeat: no-repeat;
          width: 24px;
          height: 24px;
        }

        &.active {
          &:after {
            content: "";
            background-image: url(./images/icons/minus.svg);
            background-position: center;
            background-repeat: no-repeat;
            width: 24px;
            height: 24px;
          }

          & + .filter-card-content input + label {
            display: flex;
          }
        }

        &:not(.active) {
          & + .filter-card-content > :not(:last-child) {
            margin-right: 0px;
          }

          & + .filter-card-content input + label {
            display: none;
          }

          & + .filter-card-content input[type="checkbox"]:checked + label {
            color: white;
            background-color: black;
            display: flex;
            margin-right: 10px;

            &:after {
              content: "";
              margin-left: 5px;
              margin-top: 2px;
              width: 10px;
              height: 10px;
              background-image: url(./images/icons/close-small.svg);
            }
          }

          &
            + .filter-card-content
            .chip-color
            input[type="checkbox"]:checked
            + label {
            width: auto;
            &:after {
              margin-top: 0;
              margin-right: 5px;
              margin-left: 7px;
            }
          }
        }
      }
    }
  }

  .kitchen {
    width: 100%;
    top: 0;
    height: calc(100vh - 64px - 42px);
    padding: 72px 0 0;
    display: none;

    &-collapsed {
      width: 100%;
      height: 42px;
      bottom: 64px;
      background-color: black;
      color: white;
      display: flex;
      align-items: center;
      padding: 0 $spacemid-mob;
      border: 0;
      outline: none;
      position: fixed;
    }

    &-wrapper {
    }
  }

  .stones {
    &::-webkit-scrollbar {
      width: 0; /* ширина для вертикального скролла */
    }

    &-collapsed {
      width: 100%;
      height: 42px;
      background-color: black;
      color: white;
      display: none;
      align-items: center;
      justify-content: space-between;
      padding: 0 $spacemid-mob;
      border: 0;
      outline: none;
      bottom: 64px;
      position: fixed;
    }
  }

  .samples {
    margin: $spacemid-mob 0 106px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .result {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px $spacemid-mob;

    &-cover {
      margin-bottom: 0;
    }

    &-buttons {
      width: auto;
    }
  }

  .save-setup {
    width: 44px;
    flex-grow: 0;
    &::before {
      width: 32px;
      height: 32px;
      margin: 0;
    }
    &:after {
      content: '';
    }
  }

  .save-settings {
    width: 44px;
    flex-grow: 0;
    &::before {
      width: 32px;
      height: 32px;
      margin: 0;
    }
    &:after {
      content: '';
    }
  }

  .viber {
    font-size: 0;
    padding: 0px;
    width: 44px;
    background-image: url(./images/icons/viber.svg);
    background-size: contain;
    background-repeat: no-repeat;

    &:before {
      display: none;
    }

    &:after {
      display: none;
    }
  }
}

@media only (max-width: 766px) {
  & .sample {
    width: calc(100vw - 30px - 30px);
    margin-bottom: $spacemid-mob;

    &-image {
      height: calc(100vw - 30px - 30px);
    }
  }

  & .kitchen-collapsed {
    padding: 0 20px;
  }

  & .stones-collapsed {
    padding: 0 20px;
  }

  & .result {
    padding: 10px 20px;
  }
}
