.calc-wrapper {
  position: relative;
}
.colorselect {
  width: 360px;
  box-sizing: border-box;
  height: 100vh;
  padding: 0 $spacemid-mob;
  position: fixed;
  top: $spacebig;
  left: 0;

  & > * {
    margin-bottom: $spacemid-mob;
  }
}

.filter {
  &-card {
    padding: 0 5px;
    border-bottom: 1px solid black;

    &-title {
      width: 100%;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      background-color: white;
      border: 0;
      height: 44px;
      padding: 0;
    }

    &-content {
      display: flex;
      flex-wrap: wrap;

      & > :not(:last-child) {
        margin-right: 10px;
      }

      & > * {
        margin-bottom: 10px;
      }
    }
  }
}

.samples {
  margin: $spacebig 360px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.sample {
  width: 300px;
  margin: 0 10px $spacemid-mob;
  position: relative;

  &-image {
    height: 300px;
    background-image: url(./images/samples/hanstone/passion_rouge.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
    position: relative;
  }

  &-text {
    margin: 0 5px;
  }

  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
  }

  &-bottom {
    display: flex;
    justify-content: space-between;
  }

  &-slabs {
    border: 1px solid black;
    width: 28px;
    height: 18px;
    box-sizing: border-box;
    text-align: center;
    font-family: "Futura PT Cond";
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 0.05em;
  }
}

.recommend {
  &:after {
    content: "рекомендуем";
    font-family: "Futura PT", sans-serif;
    font-size: 15px;
    letter-spacing: 0.4px;
    font-weight: 400;
    background-color: $violet;
    color: white;
    position: absolute;
    top: $spacemid-mob;
    right: -10px;
    padding: 5px 10px;
  }
}

.preorder {
  &:after {
    content: "под заказ (до 6 мес.)";
    font-family: "Futura PT", sans-serif;
    font-size: 15px;
    letter-spacing: 0.4px;
    font-weight: 400;
    background-color: teal;
    color: white;
    position: absolute;
    top: $spacemid-mob;
    right: -10px;
    padding: 5px 10px;
  }
}

.out {
  & .sample-text:after {
    content: "снят с производства";
    font-family: "Futura PT", sans-serif;
    font-size: 15px;
    letter-spacing: 0.4px;
    font-weight: 400;
    background-color: grey;
    color: white;
    position: absolute;
    top: 70px;
    right: -10px;
    padding: 5px 10px;
  }
}

.sparkle:before {
  content: "";
  background-image: url(./images/samples/sparkle.gif);
  background-size: cover;
  display: block;
  width: 100%;
  height: 100%;
}

.kitchen {
  width: 360px;
  box-sizing: border-box;
  height: calc(100vh - 141px);
  padding-top: $spacebig;
  position: fixed;
  overflow: auto;
  scrollbar-width: none;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.04);

  &::-webkit-scrollbar {
    width: 0; /* ширина для вертикального скролла */
  }

  &-wrapper {
    width: 100%;
  }

  &-collapsed {
    display: none;
  }

  &-summary {
    flex-grow: 1;
    overflow: hidden;
    white-space: pre;
    text-overflow: ellipsis;
    text-align: left;
    margin-right: 15px;
  }
}

.stones {
  &::-webkit-scrollbar {
    width: 0; /* ширина для вертикального скролла */
  }

  &-collapsed {
    display: none;
  }

  &-summary {
    flex-grow: 1;
    overflow: hidden;
    white-space: pre;
    text-overflow: ellipsis;
    text-align: left;
    margin-right: 15px;

    & + .text-bold {
      flex-shrink: 0;
    }
  }
}

.parameter {
  margin-bottom: $spacebig-mob;

  &-title {
    text-align: center;
    margin-bottom: $spacemid-mob;
  }

  &-options {
    display: flex;
    align-items: center;
    justify-content: center;

    & :not(:last-child) {
      margin-right: 30px;
    }

    &.edges :not(:last-child) {
      margin-right: 20px;
    }

    & .input-small:not(:last-child) {
      margin-right: 10px;
    }

    & .text:not(:last-child) {
      margin-right: 10px;
    }
  }

  &-shape {
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 223px;
    position: relative;
  }
}

.shapeI {
  display: flex;
}

.shapeU {
  background-image: url(./images/kitchen-shapes/p-shape.svg);
}

.shapeL {
  background-image: url(./images/kitchen-shapes/l-shape.svg);
}

@mixin arrowpositioning {
  position: absolute;
  top: 50%;
  left: 50%;
}

.length-A {
  @include arrowpositioning;
  transform: translate(-132px, -50%);

  &.arrow {
    @include arrowpositioning;
    opacity: 0.3;
    transform: translate(-76px, calc(-50% + 2px));
  }
}

.width-A {
  @include arrowpositioning;
  transform: translate(-65px, 80px);

  &.input-small {
    width: 50px;
  }

  &.arrow {
    @include arrowpositioning;
    opacity: 0.3;
    transform: translate(-65px, 62px);
  }
}

.length-B {
  @include arrowpositioning;
  transform: translate(-50%, -110px);

  &.arrow {
    @include arrowpositioning;
    opacity: 0.3;
    transform: translate(-66px, calc(-50% - 72px));
  }
}

.width-B {
  @include arrowpositioning;
  transform: translate(0px, -57px);

  &.input-small {
    width: 50px;
  }

  &.arrow {
    @include arrowpositioning;
    opacity: 0.3;
    transform: translate(-11px, -62px);
  }
}

.w-B {
  @include arrowpositioning;
  transform: translate(80px, -57px);

  &.input-small {
    width: 50px;
  }

  &.arrow {
    @include arrowpositioning;
    opacity: 0.3;
    transform: translate(69px, -62px);
  }
}

.length-C {
  @include arrowpositioning;
  transform: translate(80px, -50%);

  &.arrow {
    @include arrowpositioning;
    opacity: 0.3;
    transform: translate(69px, calc(-50% + 2px));
  }
}

.width-C {
  @include arrowpositioning;
  transform: translate(19px, 80px);

  &.input-small {
    width: 50px;
  }

  &.arrow {
    @include arrowpositioning;
    opacity: 0.3;
    transform: translate(19px, 62px);
  }
}

.result {
  background-color: $violet;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 360px;
  padding: $spacemid-mob;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-sum {
    color: white;
    

    &::before {
      content: "Итого:";
      margin-right: 10px;
    }
  }

  &-cover {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
}

.disclaimer {
  position: relative;

  &::before {
    z-index: 1000;
    content: '';
    background-color: black;
    opacity: 0.8;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }

  &-card {
    position: fixed;
    z-index: 1001;
    max-width: 40vw;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    padding: $spacebig-mob 100px $spacemid-mob;
    top: calc(50vh - 35vh);
    left: calc(50vw - 25vw);
    box-sizing: border-box;
  }

  & a {
    color: $violet;
    font-weight: 700;
  }

  & .btn {
    padding: 0 20px;
  }

  & li {
    margin-bottom: 15px;

    &:last-of-type {
      margin-bottom: 0;
      opacity: 0.6;
    }
  }
}