@mixin btn {
  border: 1px solid black;
  border-radius: 0;
  background-color: white;
  color: black;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin tab {
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  box-sizing: border-box;
}

@mixin iconhovertext {
  background-color: white;
  padding: 0 5px;
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 40px;
  font-family: "Futura PT", sans-serif;
  font-size: 15px;
  letter-spacing: 0.4px;
  font-weight: 400;
}

.viber {
  height: 44px;
  padding: 0 $spacebig-mob;
  display: flex;
  align-items: center;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  box-sizing: border-box;
  border-radius: 0;

  &:before {
    content: "Продолжить в Viber";
  }

  &:hover {
    background-color: white;
    color: $violet;
    transition: 200ms;
  }

  &:focus {
    outline: none;
  }
}

.lookalike {
  box-sizing: border-box;
  height: 44px;
  width: 100%;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  background-color: black;
  color: white;
  border: none;

  &:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
    transition: 200ms;
  }

  &:focus {
    outline: none;
  }
}

.btn {
  @include btn;
  color: white;
  background-color: black;
  height: 44px;
  padding: 0 10px;
  box-sizing: border-box;

  &:hover {
    color: black;
    background-color: white;
    transition: 300ms;
  }

  &-simple {
    @include btn;
    height: 32px;
    border: 0;

    &:hover {
      color: $violet;
    }
  }

  &-text-32 {
    @include btn;
    background-color: transparent;
    height: 32px;
    margin: 0 auto;

    &:hover {
      background-color: white;
    }

    &.addnode {
      margin-top: $spacemid-mob;
      padding-right: 12px;

      &:before {
        content: "";
        margin-top: 2px;
        margin-right: 0;
        width: 24px;
        height: 24px;
        background-image: url(./images/icons/plus.svg);
        background-size: contain;
      }

      &:hover {
        background-color: white;
      }
    }
  }

  &-text-48 {
    & input[type="radio"] {
      display: none;
    }

    & label {
      @include btn;
      flex-direction: column;
      justify-content: flex-start;
      height: 48px;
      //width: 120px;
      padding: 3px 0 0;
      line-height: 15px;

      &:before {
        content: "";
        width: 24px;
        height: 24px;
        display: inline-block;
        background-position: center;
        background-repeat: no-repeat;
      }
    }

    & input[type="radio"]:checked + label {
      background-color: black;
      color: white;
    }
  }

  &-text-64 {
    & input[type="radio"] {
      display: none;
    }

    & label {
      @include btn;
      flex-direction: column;
      justify-content: center;
      height: 64px;
      //width: 80px;
      padding: 0;
      line-height: 15px;

      &:before {
        content: "";
        width: 24px;
        height: 24px;
        display: inline-block;
        background-position: center;
        background-repeat: no-repeat;
      }
    }

    & input[type="radio"]:checked + label {
      background-color: black;
      color: white;
    }
  }

  &-text-44 {
    & input[type="radio"] {
      display: none;
    }

    & label {
      @include btn;
      height: 44px;
      width: 44px;
      padding: 0 10px;
    }

    & input[type="radio"]:checked + label {
      background-color: black;
      color: white;
    }
  }

  &-icon-44 {
    & input[type="radio"] {
      display: none;
    }

    & label {
      @include btn;
      width: 44px;
      height: 44px;
      background-repeat: no-repeat;
      background-position: center;
      position: relative;
    }

    & input[type="radio"]:checked + label {
      background-color: black;
    }

    &.openpopup {
      @include btn;
      width: 44px;
      height: 44px;
      background-repeat: no-repeat;
      background-position: center;
      position: relative;
      background-image: url(./images/icons/forma/04.svg);

      &:hover:after {
        content: "другая";
        @include iconhovertext;
      }
    }
  }

  &-close {
    box-sizing: border-box;
    display: flex;
    align-self: flex-end;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    width: 24px;
    height: 24px;
    background-color: white;
    background-image: url("./images/icons/close-small-black.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 30px;
    margin-right: -80px;
    margin-top: -30px;

    &:hover {
      opacity: 0.6;
      transition: 150ms;
    }
  }
}

.reset {
  background-color: black;
  color: white;
  border: 0;
  transition: 200ms;
  padding-left: 10px;
  padding-right: 12px;
  margin-top: $spacebig-mob;

  &:before {
    content: "";
    margin-top: 3px;
    margin-right: 6px;
    width: 24px;
    height: 24px;
    background-image: url(./images/icons/reload-white.svg);
    background-size: contain;
    transition: 500ms;
  }

  &:hover {
    background-color: transparent;
    color: black;
    border: 1px solid black;

    &:before {
      background-image: url(./images/icons/reload.svg);
      transform: rotate(90deg);
    }
  }
}

.opendisclaimer {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  background-color: $violet;
  opacity: 60%;
  width: 24px;
  height: 24px;
  background-image: url("./images/icons/question.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 10px;
  margin-top: 2px;

  &:hover {
    opacity: 1;
    transition: 150ms;
  }
}

.aboutsinks {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  background-color: white;
  width: 24px;
  height: 24px;
  background-image: url("./images/icons/question-teal.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 4px;
  margin-bottom: -3px;

  &:hover {
    opacity: 0.6;
    transition: 150ms;
  }
}

.tabs {
  display: flex;
}

.tab {
  width: 50%;

  & input[type="radio"] {
    display: none;
  }

  & label {
    @include tab;
    border-bottom: 1px solid black;

    &.tab-filter::before {
      content: "Фильтры";
    }

    &.tab-search::before {
      content: "Поиск";
    }
  }

  & input[type="radio"]:checked + label {
    border-bottom: 3px solid black;
    padding-top: 2px;
  }
}

@media only (max-width: 1078px) {
  .btn-close {
    margin-top: 0;
    margin-right: 0;
  }

  .tab {
    & input[type="radio"] {
      display: none;
    }

    & label {
      background-position: center;
      background-repeat: no-repeat;
      border-bottom: 1px solid black;

      &.tab-search {
        background-image: url(./images/icons/magnifying-glass.svg);
        background-size: 16px;

        &::before {
          content: "";
        }
      }

      &.tab-filter {
        background-image: url(./images/icons/filters.svg);
        background-size: 16px;
        &::before {
          content: "";
        }
      }
    }

    & input[type="radio"]:checked + label {
      border-bottom: 3px solid black;
      height: 42px;
      margin-top: 2px;
    }
  }
}

@mixin flag {
  content: "";
  background-position: center;
  width: 24px;
  height: 16px;
  margin-right: 8px;
}

.chip {
  &-basic {
    display: inline-block;

    & input[type="checkbox"],
    input[type="radio"] {
      display: none;
    }

    & label {
      @include btn;
      height: 32px;
      padding: 0 10px;
    }

    & input[type="checkbox"]:checked + label,
    input[type="radio"]:checked + label {
      color: white;
      background-color: black;
    }

    & #Avant + :before {
      @include flag;
      background-image: url("./images/icons/country/China.jpg");
    }

    & #Reston + :before {
      @include flag;
      background-image: url("./images/icons/country/China.jpg");
    }

    & #Atem + :before {
      @include flag;
      background-image: url("./images/icons/country/UA.jpg");
      background-position: center;
    }

    & #Vicostone + :before {
      @include flag;
      background-image: url("./images/icons/country/Vietnam.jpg");
    }

    & #Caesarstone + :before {
      @include flag;
      background-image: url("./images/icons/country/Israel.jpg");
    }

    & #Belenco + :before {
      @include flag;
      background-image: url("./images/icons/country/Turkey.jpg");
    }
  }

  &-X {
    display: inline-block;

    & input[type="checkbox"] {
      display: none;
    }

    & label {
      @include btn;
      height: 32px;
      padding: 0 10px;
      background-color: yellowgreen;

      &:after {
        content: "";
        margin-left: 4px;
        width: 10px;
        height: 10px;
        background-image: url(./images/icons/close-small.svg);
      }
    }
  }

  &-color {
    display: inline-block;

    & input[type="checkbox"] {
      display: none;
    }

    & label {
      @include btn;
      padding: 3px;
    }

    & input[type="checkbox"]:checked + label {
      color: white;
      background-color: black;
    }
  }
}

.input {
  @include btn;
  height: 44px;
  padding: 0 10px;
  width: 100%;

  &:active {
    border: 2px solid black;
    border-radius: 0;
  }

  &:focus {
    border: 2px solid black;
    border-radius: 0;
    outline: none;
    padding: 0 9px;
  }

  &:focus::placeholder {
    color: white;
  }

  &-small {
    @include btn;
    height: 32px;
    width: 54px;
    text-align: center;

    &::placeholder {
      font-family: "Futura PT", sans-serif;
      font-size: 15px;
      letter-spacing: 0.4px;
      font-weight: 400;
    }

    &:active {
      border: 2px solid black;
      border-radius: 0;
    }

    &:focus::placeholder {
      color: white;
    }

    &:focus {
      border: 2px solid black;
      border-radius: 0;
      outline: none;

      & + label.arrow {
        opacity: 1;
      }
    }
  }
}

.textarea {
  min-height: 120px;
  resize: vertical;
  padding: 10px;

  &:focus {
      padding: 9px;
  }
}

.error {
  display: block;
  margin: 15px 15px 0;
  color: red;
  text-align: center;

  &-label {
    padding: 5px;
    display: none;
  }

  &-input {
    border-color: red;
    color: red;

    &:focus {
      border-color: red;
      color: red;
    }
  }
}

.removenode {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 0;
  height: 32px;
  width: 32px;

  &:before {
    display: inline-block;
    background-image: url("./images/icons/close.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    content: "";
  }

  &:hover {
    opacity: 0.6;
    transition: 100ms;
  }
}

.visible {
  display: none;

  & + label {
    display: flex;
    align-items: center;
    height: 32px;
    margin-left: 15px;
  }

  & + label:before {
    display: inline-block;
    background-size: contain;
    content: "";
    margin-right: 8px;
    margin-bottom: -2px;
    height: 16px;
    width: 16px;
    background-image: url("./images/icons/visibility/off.svg");
  }

  &:checked + label:before {
    background-image: url("./images/icons/visibility/on.svg");
  }
}

.cannelures {
  & > input {
    display: none;
  }

  & > label {
    display: flex;
    align-items: center;
    height: 32px;
    padding: 4px 6px;
    box-sizing: border-box;
    margin-left: 5px;
  }

  & > label:before {
    display: inline-block;
    background-size: contain;
    content: "";
    margin-right: 8px;
    margin-bottom: -2px;
    height: 20px;
    width: 20px;
    background-image: url("./images/icons/checkbox/empty.svg");
  }

  & input:checked + label:before {
    background-image: url("./images/icons/checkbox/checked.svg");
  }
}

@mixin chipcolor {
  content: "";
  width: 24px;
  height: 24px;
}

.c-white::before {
  @include chipcolor;
  background-color: snow;
}

.c-beige::before {
  @include chipcolor;
  background-color: beige;
}

.c-brown::before {
  @include chipcolor;
  background-color: rgb(110, 72, 45);
}

.c-grey::before {
  @include chipcolor;
  background-color: gray;
}

.c-black::before {
  @include chipcolor;
  background-color: rgb(15, 15, 15);
  outline: 1px solid rgba(255, 255, 255, 0.4);
}

.icon {
  &-shapeI {
    background-image: url(./images/icons/forma/01.svg);

    &:hover:after {
      content: "прямая";
      @include iconhovertext;
    }
  }

  &-shapeL {
    background-image: url(./images/icons/forma/03.svg);

    &:hover:after {
      content: "угловая";
      @include iconhovertext;
    }
  }

  &-shapeU {
    background-image: url(./images/icons/forma/02.svg);

    &:hover:after {
      content: "П-образная";
      @include iconhovertext;
    }
  }

  &-edge1 {
    background-image: url(./images/icons/profil/01.svg);

    &:hover:after {
      content: "фаска 3х3";
      @include iconhovertext;
    }
  }

  &-edge2 {
    background-image: url(./images/icons/profil/02.svg);

    &:hover:after {
      content: "фаска R3";
      @include iconhovertext;
    }
  }

  &-edge3 {
    background-image: url(./images/icons/profil/03.svg);

    &:hover:after {
      content: "О-профиль";
      @include iconhovertext;
    }
  }

  &-edge4 {
    background-image: url(./images/icons/profil/04.svg);

    &:hover:after {
      content: "М-профиль";
      @include iconhovertext;
    }
  }

  &-edge5 {
    background-image: url(./images/icons/profil/05.svg);

    &:hover:after {
      content: "рваный край";
      @include iconhovertext;
    }
  }

  &-edge6 {
    background-image: url(./images/icons/profil/06.svg);

    &:hover:after {
      content: "лофт профиль";
      @include iconhovertext;
    }
  }

  &-edge7 {
    background-image: url(./images/icons/profil/07.svg);

    &:hover:after {
      content: "М-профиль";
      @include iconhovertext;
    }
  }

  &-undermount:before {
    background-image: url(./images/icons/sink/undermount.svg);
  }

  &-levelmount:before {
    background-image: url(./images/icons/sink/levelmount.svg);
  }

  &-quartz:before {
    background-image: url(./images/icons/sink/quartz.svg);
  }

  &-round:before {
    background-image: url(./images/icons/sink/round.svg);
  }

  &-line:before {
    background-image: url(./images/icons/sink/line.svg);
  }
}

input[type="radio"]:checked + label.icon {
  &-shapeI {
    background-image: url(./images/icons/forma/01-white.svg);
  }

  &-shapeU {
    background-image: url(./images/icons/forma/02-white.svg);
  }

  &-shapeL {
    background-image: url(./images/icons/forma/03-white.svg);
  }

  &-edge1 {
    background-image: url(./images/icons/profil/01-white.svg);
  }

  &-edge2 {
    background-image: url(./images/icons/profil/02-white.svg);
  }

  &-edge3 {
    background-image: url(./images/icons/profil/03-white.svg);
  }

  &-edge4 {
    background-image: url(./images/icons/profil/04-white.svg);
  }

  &-edge5 {
    background-image: url(./images/icons/profil/05-white.svg);
  }

  &-edge6 {
    background-image: url(./images/icons/profil/06-white.svg);
  }

  &-edge7 {
    background-image: url(./images/icons/profil/07-white.svg);
  }

  &-undermount:before {
    background-image: url(./images/icons/sink/undermount-white.svg);
  }

  &-levelmount:before {
    background-image: url(./images/icons/sink/levelmount-white.svg);
  }

  &-quartz:before {
    background-image: url(./images/icons/sink/quartz-white.svg);
  }

  &-round:before {
    background-image: url(./images/icons/sink/round-white.svg);
  }

  &-line:before {
    background-image: url(./images/icons/sink/line-white.svg);
  }
}
