.production {
    // color: white;
    padding: 0 $spacebig;
    margin: $spacebig 0;
    height: $height-1scr;
    @include grid12;
    grid-template-rows: repeat(12, 1fr);

    &-title {
        grid-area: 2 / 6 / 5 / 13;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & .title-bold {
            margin-left: 250px;
        }
    }

    &-text {
        grid-area: 2 / 2 / 5 / 6;
        display: flex;
        align-items: center;
    }

    &-list {
        grid-area: 6 / 9 / 9 / 13;
        display: flex;
        align-items: center;

        & ul {
            list-style-type: none;
            padding: 0;

            & :not(:last-child) {
                padding-bottom: 20px;
            }
        }
    }

    &-image-1 {
        grid-area: 6 / 2 / 13 / 9;
        background-size: cover;
        background-position: center;
        background-image: url(./images/saw.webp);
    }

    &-image-2 {
        grid-area: 9 / 9 / 13 / 13;
        background-size: cover;
        background-position: center;
        background-image: url(./images/mill.gif);
    }

}

@media only screen and (max-width: 1078px) {
    .production {
        margin: $spacebig 0 $spacebig-mob;
        padding: 0 $spacebig;
        display: block;
        height: auto;

        & > * {
            margin-bottom: $spacemid-mob;
        }

        & > :last-child {
            margin-bottom: 0;
        }

        &-title {
            display: block;
            margin-top: 60px;

            & > .title-bold {
                margin-left: 55px;
            }
        }

        &-list {
            grid-area: 6 / 9 / 9 / 13;
            display: flex;
            align-items: center;
    
            & ul {
                list-style-type: none;
                padding: 0;
    
                & :not(:last-child) {
                    padding-bottom: 10px;
                }
            }
        }

        &-image-1 {
            width: auto;
            height: 50vh;
        }
    
        &-image-2 {
            width: auto;
            height: 35vh;
        }
    }
}

@media only screen and (max-width: 768px) {
    .production {
        margin: $spacebig-mob 0;
        padding: 0 $spacemid-mob;

        &-image-1 {
            width: auto;
            height: 30vh;
        }

        &-image-2 {
            width: auto;
            height: 20vh;
        }
    }
}