* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

a:visited {
    color: inherit;
}

@mixin grid12 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: $gutter-v;
    row-gap: $gutter-h;
}

@import 'variables';

@import 'text';

@import 'elements.scss';

@import 'hero';

@import 'assort';

@import 'getprices';

@import 'production';

@import 'furn';

@import 'exclusive';

@import 'reviews';

@import 'calculator';

@import 'calculator-mob';

@import 'form';

@import 'contacts';

@import 'commercial';

@import 'disclaimer_form';

@import 'onboarding';

@import 'ordersamples';